.App {
  text-align: center;
}

body {
  background-color: #00695c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background:linear-gradient(to top, transparent,  #07bed6);
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  width: 20px;
  height: 20px;
  background-color: #b2ebf2;
  border-radius: 50%;
  box-shadow:
   0 0 10px #b2ebf2,
   0 0 20px #b2ebf2,
   0 0 30px #b2ebf2,
   0 0 40px #b2ebf2,
   0 0 50px #b2ebf2;
}

.loader span{
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  background-color: #00695c;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}